include AUTHORS
include LICENSE.txt
include CHANGELOG.rst
include README.rst
include MANIFEST.in
include custard-logo.png
recursive-include docs *.rst
recursive-include custard *
recursive-include example *
global-exclude *.sqlite3
